.filter {
  grid-column: 1/5;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.filter > .input-group > .form-control, .input-group > .form-select {
  min-width: 400px;
}

.filter__item {
  border-radius: 10px !important;
}

.form-select__filter,
.search-btn {
  height: 40px;
  margin-left: 4px;
}

.filter__item,
.form-select__filter,
.search-btn {
  border: 2px solid #949494;
  border-radius: 10px;
}

.search-btn:hover {
  border: 2px solid #949494;
}

